VOYAGE_AI_API_KEY=your_voyage_api_key_here  # Or leave as "default" if you just want to test without RAG
VOYAGE_MODEL=voyage-4-lite  # Or "voyage-3-lite" for a cheaper option, but with less capabilities
VOYAGE_RERANKER_MODEL=rerank-2-lite  # Or "rerank-1-lite" for a cheaper option, but with less capabilities
PLATFORM_API_MASTER_KEY=your_api_master_key_here
SPRING_DATA_MONGODB_URI=your_mongodb_connection_string_here
VOYAGE_EMBEDDING_DIMENSION=1024
VOYAGE_RERANKER_TOP_K=3
ENABLE_DATA_LOADER=false
API_TIMEOUT_READ=600000
API_TIMEOUT_CONNECT=300000
